PORT=5001
MONGODB_URI=mongodb:mongodb+srv://teosnp2_db_user:pedropedro@teosnp2.mongodb.net/school_management?retryWrites=true&w=majority&appName=teosnp2
JWT_SECRET=replace-with-a-long-random-secret
JWT_EXPIRES_IN=7d
CLIENT_URL=https://sprach-pr-fung-client.vercel.app
# CLIENT_URLS=https://sprach-pr-fung-client.vercel.app,https://your-preview-domain.vercel.app
SCHOOL_NAME=German School
